.back-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-right: 1px solid $gray-30;
  background-color: $gray-10;
}
