.add-or-delete-user {
  &__button {
    width: 100%;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  &__input {
    margin-bottom: 24px;
  }
}
