.button {
  display: block;
  padding: 0;
  cursor: pointer;
  border: none;
  color: $blue-10;
  background-color: transparent;

  &:hover {
    color: $blue-20;
  }

  &:active {
    color: $blue-30;
  }

  &_filled {
    padding: 12px;
    background-color: $blue-10;
    color: white;
    border-radius: 8px;

    &:hover {
      background-color: $blue-20;
      color: white;
    }

    &:active {
      background-color: $blue-30;
      color: white;
    }
  }
}
