$blue-10: #3369F3;
$blue-20: #033ED5;
$blue-30: #0434AF;

$red-10: #FF2F2F;
$red-20: #C00909;
$red-30: #9B0707;

$gray-10: #FBFBFB;
$gray-20: #EFEFEF;
$gray-30: #EAEAEA;
$gray-50: #999999;
$gray-60: #8D8D8D;

$black: #000000;
$white: #FFFFFF;
