<link rel="stylesheet" href="/src/partials/errorBlock/errorBlock.scss">
<div class="errorBlock">
  <h2 class="errorBlock__title">{{errorCode}}</h2>
  <p class="errorBlock__description">{{errorDescription}}</p>
  <a class="errorBlock__back-link" href="/">{{backLinkText}}</a>
</div>
