<link rel="stylesheet" href="/src/partials/modal/modal.scss">
{{#if isOpen}}
  <div class="modal modal__overlay {{overlayClassName}}">
    <div class="modal__content {{className}}">
      {{> @partial-block}}
    </div>
  </div>
{{/if}}
