body, p, h1 {
  margin: 0;
}

.block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
  }

  &__message {
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 20px;
  }

  &__chats {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: $blue-10;
  }
}
