.avatar {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: $gray-20;
  background-image: url('../../public/images/svg/empty.svg');
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 90px;

  &__change-button {
    display: none !important;
  }

  &:hover &__change-button {
    display: block !important;
    position: absolute;
    padding: 0 20px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    background-color: $black;
    color: $white;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.5;
  }

  &__image {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 130px;
    width: 130px;
    border: none;
    border-radius: 100%;
  }
}
