.change-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__save-button {
    width: 280px !important;
    padding: 12px 70px !important;
    text-align: center !important;
  }

  &__field {
    width: 100%;
  }
}
