.chat-footer {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  padding-top: 8px;
  border-top: 1px solid $gray-30;

  &__share-button,
  &__send-button {
    height: 32px;
    width: 32px;
  }

  &__message-form {
    display: flex;
    flex-grow: 1;
    padding: 0 16px;
  }

  &__message-field {
    box-sizing: border-box;
    padding-left: 16px;
    margin-right: 16px;
    width: 100%;
    min-height: 32px;
    height: 32px;
    border: none;
    border-radius: 16px;
    background-color: $gray-20;
  }
}
